{{ define "main" }}
    <header>
        <h2>{{ .Title }}</h2>
    </header>

    {{- .Content }}

    <section class="wrapper style1">
        <div class="container">
            {{- with .Site.Data.services }}
                {{- range .services }}
                    <div class="row gtr-200" id="{{ .id }}">
                        <section class="col-12">
                            <div class="box highlight">
                                <i class="icon solid major {{ .icon }}"></i>
                                <h3>{{ .title }}</h3>
                                <p>{{ .content | markdownify }}</p>
                            </div>
                        </section>
                    </div>
                {{- end }}
            {{- end }}
        </div>
    </section>
{{ end }}
